.container_bienvenidos {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.letters_bienvenidos {
    width: 40%;
}

.letters_bienvenidos h2, .container_exitos h2, .letters_convenio h2 {
    color: #4a1162;
    font-size: 26px;
    font-weight: 800;
}

.letters_bienvenidos p {
    font-size: 16px;
    color: #4a1162;
    font-weight: 300;
    line-height: 30px;
    margin-top: 20px;
}



.container_exitos {
    width: 100%;
    margin-top: 45px;
    flex-direction: column;
}

.container_exitos h2 {
    margin-left: 85px;
}

.letters_casos {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.image_caso img {
    width: 675px;
    height: 335px;
}

.video {
    background-color: #fff;
    border-radius: 24px;
    padding: 24px;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.1);
    width: 25%;
    margin-left: -100px;
}

.video video {
    border-radius: 24px;
    width: 300px;
    height: 210px;
}

.video h2 {
    color: #4a1162;
    font-size: 20px;
}

.video p {
    font-size: 15px;
    color: #4a1162;
    font-weight: 300;
    line-height: 30px;
}

.container_convenios {
    margin-top: 50px;
}

.carousel_convenios {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}


/* Ícono flotante de WhatsApp */
.whatsapp_float {
    position: fixed;
    bottom: 50px;
    z-index: 100;
    width: 100%;
    text-align: center;
}

.whatsapp_float img {
    width: 120px;
    transition: transform 0.3s;
}

.whatsapp_float img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}
